* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' .5,
  'wght' 400;
  cursor: pointer;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#container {
  width: 80%;
  max-width: 500px;
  height: max-content;
  max-height: 80vh;
  overflow-y: auto;
  border: 1px solid #c5c4c4;
  box-shadow: 0 10px 10px 3px #f0f0f0;
  display: flex;
  flex-direction: column;

  * {
    font-size: 15px;
  }

  button {
    padding: 20px;
    border: none;
    color: gray;
    cursor: pointer;
  }

  ul {
    list-style: none;

    li {
      padding: 0 20px;
      border-bottom: 2px solid #f0f0f0;
      display: flex;
      align-items: center;
      gap: 10px;

      input[type="checkbox"] {
        height: 16px;
        width: 16px;
      }

      .task-description {
        flex: 1 1 auto;
        padding: 20px 0;
      }
    }
  }
}

#header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f0f0f0;

  * {
    font-size: 18px;
  }
}

#add-to-do {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 2px solid #f0f0f0;

  input {
    border: none;
    outline: none;
    padding: 10px 0;
    flex: 1 1 auto;
  }
}
