@font-face {
  font-family: 'MyNerve';
  src: url('./fonts/mynerve_regular.woff2') format('woff2'),
      url('./fonts/mynerve_regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'MyNerve', sans-serif;
}

.hello {
  color: red;
}

.rabbit {
  width: 200px;
  height: auto;
}
